<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <link rel="stylesheet" href="css/perfil.css">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:image:alt" content="">

  <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="../icon.png">

  <link rel="manifest" href="../site.webmanifest">
  <meta name="theme-color" content="#fafafa">

  <title>SCEA</title>

</head>
<body>
<main>
  <section id="sectionCabecalho">
    <span id="spanEmpresa">
      <div id="divEmpresa">
        <h3>SCEA</h3>
        <h6>Sistema para Controle de<br>Evolução de Alunos</h6>
      </div>

      <p class="itemMenu">Alunos</p>
      <p class="itemMenu">Professores</p>
      <p class="itemMenu">Usuários</p>
      <p class="itemMenu">Grupos e Avaliações</p>
      <p class="itemMenu">Perfil</p>
      <img id="imgHome" src="img/images.jpg">
    </span>
  </section>

  <section id="sectionPerfil">
    <div id="divCadastro">
      <img id="imgPerfil" src="img/images.jpg">

      <div id="divPrimeira">
        <input placeholder="Nome Completo do Usuário">
      </div>

      <div id="divSegunda">
        <input placeholder="CPF">
        <input placeholder="RG">
      </div>

      <div id="divTerceira">
        <input placeholder="Data de Nascimento">
        <input placeholder="Telefone">
      </div>

      <div id="divQuarta">
        <input placeholder="CEP">
        <input placeholder="Rua">
        <input placeholder="Número">
      </div>

      <div id="divQuinta">
        <input placeholder="Complemento">
        <input placeholder="Cidade">
        <input placeholder="Estado">
      </div>

    </div>
  </section>
</main>

</body>
</html>
