<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - SCEA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles/login.css}">
</head>
<body>
<div id="content" style="display: none;">
</div>

<div id="login-container">
    <!-- Seção Esquerda -->
    <div id="left-section">
        <h1>SCEA</h1>
        <h3>Sistema para Controle de<br>Evolução de Alunos</h3>

        <div th:if="${param.error}" class="alert alert-danger" role="alert">
            Erro
        </div>

        <form th:action="@{/login}" method="post">
            <div class="form-group input-container">
                <img src="/images/icon _Envelope_.png" class="input-icon" alt="Email Icon">
                <input name="username" type="email" class="form-control" id="email" placeholder="E-mail" required>
            </div>
            <div class="form-group input-container">
                <img src="/images/icon _lock_.png" class="input-icon" alt="Senha Icon">
                <input name="password" type="password" class="form-control" id="senha" placeholder="Senha" required>
            </div>
            <button type="submit" id="btEntrar" class="btn">ENTRAR</button>
        </form>
        <div id="txSenha" class="mt-3">Esqueceu a Senha?</div>
        <div id="instagram-container">
            <img src="/images/icon _instagram icon_.png" class="social-icon" alt="Instagram Icon">
            <div id="txInstagram">@usuarioinstagram</div>
        </div>
    </div>

    <!-- Seção Direita com Fundo e Ajuda -->
    <div id="right-section">
        <h6 id="txAjuda">Precisa de Ajuda?</h6>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/scripts/login.js}"></script>
</body>
</html>
