<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário Completo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles/cadastro.css}">
</head>
<body>
<div id="loadingScreen">
    <p>Carregando<span class="dot">.</span><span class="dot">.</span><span class="dot">.</span></p>
    <div class="loader-wrapper">
        <div class="loader">
            <div class="loader-inner"></div>
        </div>
    </div>
</div>
<div id="content" style="display: none;">
</div>
<div class="form-container animate__animated animate__fadeInUp">
    <div class="d-flex justify-content-start mb-3 header-buttons">
        <a th:href="@{/aluno}" data-bs-toggle="tooltip" title="Sair">
            <img th:src="@{/images/sair.png}" alt="Sair" id="sairButton">
        </a>
        <img th:src="@{/images/salvar.png}" alt="Salvar" id="saveButton" data-bs-toggle="tooltip" title="Salvar">
        <img th:src="@{/images/excluir.png}" alt="Excluir" id="excluirButton" data-bs-toggle="tooltip" title="Excluir">
        <button class="btn btn-secondary ms-auto" id="clearButton" data-bs-toggle="tooltip" title="Limpar todos os campos">Limpar</button>
    </div>

    <div class="form-section-heading">Informações Pessoais</div>
    <form th:action="@{/aluno}" th:object="${aluno}" method="post" id="cadastroForm">
        <div class="row">
            <div class="col-md-1">
                <label for="id" class="form-label">ID</label>
                <input th:field="*{id}" type="text" class="form-control" id="id" aria-label="ID do usuário" disabled>
            </div>
            <div class="col-md-4">
                <label for="nome-completo" class="form-label">Nome Completo</label>
                <input th:field="*{nome}" type="text" class="form-control" id="nome-completo" placeholder="Digite seu nome completo" required>
                <span class="error-message" id="nome-error">Nome completo é obrigatório.</span>
            </div>
            <div class="col-md-3 animated-input">
                <label for="data-nascimento" class="form-label">Data de Nascimento</label>
                <input th:field="*{dtNascimento}" type="date" class="form-control" id="data-nascimento" required>
                <span class="error-message" id="data-error">Data de nascimento é obrigatória.</span>
            </div>
            <div class="col-md-2">
                <label for="cpf" class="form-label">CPF</label>
                <input th:field="*{cpf}" type="text" class="form-control" id="cpf" placeholder="___.___.___-__" maxlength="14" required>
                <span class="error-message" id="cpf-error">CPF inválido.</span>
            </div>
            <div class="col-md-2">
                <label for="rg" class="form-label">RG</label>
                <input th:field="*{rg}" type="text" class="form-control" id="rg" placeholder="__.___.___-_" maxlength="12" required>
                <span class="error-message" id="rg-error">RG inválido.</span>
            </div>
        </div>


        <div class="row">
            <div class="col-md-2">
                <label for="telefone" class="form-label">Telefone</label>
                <input th:field="*{telefone}" type="text" class="form-control" id="telefone" placeholder="( __ ) ____-____" maxlength="15">
                <span class="error-message" id="telefone-error">Telefone inválido.</span>
            </div>
            <div class="col-md-4">
                <label for="nome-responsavel" class="form-label">Nome do Responsável</label>
                <input th:field="*{nmResponsavel}" type="text" class="form-control" id="nome-responsavel">
                <span class="error-message" id="nome-responsavel-error">Nome do responsável é obrigatório.</span>
            </div>
            <div class="col-md-3">
                <label for="professor" class="form-label">Professor</label>
                <select th:field="*{professor}" class="form-select" id="professor">
                    <option value="" selected>Selecione</option>
                    <option th:each="professor: ${professores}" th:value="${professor.id}" th:text="${professor.nome}">Selecione</option>
                </select>
                <span class="error-message" id="professor-error">Selecione um professor.</span>
            </div>
            <div class="col-md-3">
                <label for="tipo-servico" class="form-label">Tipo do Serviço</label>
                <select th:field="*{aula}" class="form-select" id="tipo-servico">
                    <option value="" selected>Selecione</option>
                    <option th:each="aula: ${aulas}" th:value="${aula.id}" th:text="${aula.descricao}">Selecione</option>
                </select>
                <span class="error-message" id="tipo-servico-error">Selecione um tipo de serviço.</span>
            </div>
        </div>


        <div class="form-section-heading">Endereço</div>
        <div class="row">
            <div class="col-md-2">
                <label for="cep" class="form-label">CEP</label>
                <input th:field="*{endereco.cep}" type="text" class="form-control" id="cep" placeholder="_____-___" maxlength="9">
                <span class="error-message" id="cep-error">CEP inválido.</span>
            </div>
            <div class="col-md-2">
                <label for="estado" class="form-label">Estado</label>
                <input th:field="*{endereco.cidade.estado.id}" type="hidden" id="estadoId" name="endereco.cidade.estado.id">
                <input th:field="*{endereco.cidade.estado.nome}" type="text" class="form-control" id="estado">
                <span class="error-message" id="estado-error">Estado é obrigatório.</span>
            </div>
            <div class="col-md-3">
                <label for="cidade" class="form-label">Cidade</label>
                <input th:field="*{endereco.cidade.id}" type="hidden" id="cidadeId" name="endereco.cidade.id">
                <input th:field="*{endereco.cidade.nome}" type="text" class="form-control" id="cidade">
                <span class="error-message" id="cidade-error">Cidade é obrigatória.</span>
            </div>
            <div class="col-md-3">
                <label for="rua" class="form-label">Rua</label>
                <input th:field="*{endereco.logradouro}" type="text" class="form-control" id="rua">
                <span class="error-message" id="rua-error">Rua é obrigatória.</span>
            </div>
            <div class="col-md-2">
                <label for="numero" class="form-label">Número</label>
                <input th:field="*{endereco.numero}" type="text" class="form-control" id="numero">
                <span class="error-message" id="numero-error">Número é obrigatório.</span>
            </div>
            <div class="col-md-2">
                <label for="complemento" class="form-label">Complemento</label>
                <input th:field="*{endereco.complemento}" type="text" class="form-control" id="complemento">
            </div>
        </div>

        <div class="form-section-heading">Informações de Saúde e Medidas Físicas</div>
        <div class="row">
            <div class="col-md-2 animated-input">
                <label for="data-inicio" class="form-label">Data de Início</label>
                <input th:field="*{dtInicio}" type="date" class="form-control" id="data-inicio">
                <span class="error-message" id="data-inicio-error">Data de início é obrigatória.</span>
            </div>
            <div class="col-md-1">
                <label for="peso" class="form-label">Peso</label>
                <input th:field="*{peso}" type="text" class="form-control" id="peso">
                <span class="error-message" id="peso-error">Peso é obrigatório.</span>
            </div>
            <div class="col-md-1">
                <label for="altura" class="form-label">Altura</label>
                <input th:field="*{altura}" type="text" class="form-control" id="altura">
                <span class="error-message" id="altura-error">Altura é obrigatória.</span>
            </div>
            <div class="col-md-1">
                <label for="cintura" class="form-label">Cintura</label>
                <input th:field="*{cintura}" type="text" class="form-control" id="cintura">
                <span class="error-message" id="cintura-error">Cintura é obrigatória.</span>
            </div>
            <div class="col-md-1">
                <label for="imc" class="form-label">IMC</label>
                <input type="text" class="form-control" id="imc" readonly>
            </div>
            <div class="col-md-1">
                <label for="rce" class="form-label">RCE</label>
                <input type="text" class="form-control" id="rce" readonly>
            </div>
            <div class="col-md-2">
                <label for="envergadura" class="form-label">Envergadura</label>
                <input th:field="*{envergadura}" type="text" class="form-control" id="envergadura">
                <span class="error-message" id="envergadura-error">Envergadura é obrigatória.</span>
            </div>
        </div>


        <div class="form-check form-switch mb-4">
            <div class="row">
                <div class="col-md-2">
                    <label class="form-check-label" for="ativo">Ativo</label>
                    <input th:field="*{stAtivo}" type="checkbox" id="ativo" class="form-check-input custom-switch">
                </div>
            </div>
        </div>

        <div id="progress-container">
            <div class="progress-bar" id="progress-bar"></div>
        </div>
        <div id="success-message">Formulário enviado com sucesso!</div>
    </form>
</div>


<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Confirmação</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Você confirma a ação?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                <button type="button" class="btn btn-primary" id="confirmYes">Sim</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/imask/6.4.2/imask.min.js"></script>
<script th:src="@{/scripts/cadastros/cadastroAluno.js}"></script>
</body>
</html>
