<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avaliações - SCEA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css">
    <link rel="stylesheet" href="/styles/mainAdmin.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="#" id="toggleMenu" class="nav-link">
                            <img src="/images/menu_roxo.png" alt="Menu Icon" class="icon-image">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="page1.html" class="nav-link">
                            <img src="/images/cadastros.png" alt="People Icon" class="icon-image">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="page2.html" class="nav-link">
                            <img src="/images/professor.png" alt="Person Icon" class="icon-image">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="page3.html" class="nav-link">
                            <img src="/images/relatorio.png" alt="File Icon" class="icon-image">
                        </a>
                    </li>
                </ul>
                <div class="d-flex align-items-center">
                    <span class="me-2">Sair</span>
                    <img src="/images/perfil.png" alt="Profile Icon" class="icon-image" id="logoutButton">
                </div>
            </div>
        </div>
    </nav>

    <!-- Menu lateral -->
    <div id="sidebarMenu" class="sidebar">
        <div class="close-btn">
            <a href="#" id="closeMenu">
                <img src="/images/menu_branco.png" alt="Fechar Menu" class="icon-image">
            </a>
        </div>

        <ul class="list-unstyled">
            <li>
                <a href="#" class="menu-item" data-toggle="cadastros">Cadastros</a>
                <ul class="sub-menu list-unstyled" id="cadastros">
                    <li><a href="#">Aluno</a></li>
                    <li><a href="#">Grupo Avaliativo</a></li>
                    <li><a href="#">Sub Grupo</a></li>
                    <li><a href="#">Ficha Avaliativa</a></li>
                    <li><a href="#">Professor</a></li>
                    <li><a href="#">Pergunta</a></li>
                    <li><a href="#">Tipo Pergunta</a></li>
                    <li><a href="#">Tipo de Serviço</a></li>
                    <li><a href="#">Empresa</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="menu-item" data-toggle="relatorios">Relatórios</a>
                <ul class="sub-menu list-unstyled" id="relatorios">
                    <li><a href="#">Avaliações</a></li>
                    <li><a href="#">Alunos Cadastrados</a></li>
                    <li><a href="#">Comparativo de Alunos</a></li>
                    <li><a href="#">Resultado Esperado x Atual</a></li>
                    <li><a href="#">Resumo de Desempenho em Meses</a></li>
                    <li><a href="#">Distribuição de Alunos por cidade</a></li>
                </ul>
            </li>
            <li><a href="avaliacao.html">Avaliações</a></li>
            <li><a href="#">Controle de Acessos</a></li>
        </ul>

        <div class="sidebar-footer">
            <a href="#">
                <img src="/images/config_branco.png" alt="Configurações" class="icon-image">
                Configurações
            </a>
        </div>
    </div>

    <div class="container-fluid">
        <h1 class="titleAvaliacao">Avaliações</h1>

        <form th:action="@{/avaliacao/listarperguntas}" method="GET">
            <div class="col-md-6 mx-auto">
                <label for="alunoSelect" class="form    -label">Selecione o Aluno:</label>
                <select name="alunoId" class="form-select" id="alunoSelect" onchange="this.form.submit()">
                    <option value="" selected>Escolha um aluno...</option>
                    <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}"></option>
                </select>
            </div>
        </form>

        <div id="avaliacoesContainer" class="col-md-8 mx-auto">
            <h3 class="form-title">Ficha de Observação - Avaliação Física e Psicológica</h3>
            <table>
                <thead>
                    <tr>
                        <th>Parâmetro</th>
                        <th>Resultado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Peso (kg)</td>
                        <td><input type="number" class="form-control" placeholder="Digite o peso"></td>
                    </tr>

                    <th:block th:if="${perguntas}">
                        <tr th:each="pergunta : ${perguntas}">
                            <td th:text="${pergunta.descricao}"></td>
                            <td>
                                <select class="form-select" th:if="${pergunta.tipoPergunta.estiloTpPergunta == 'MULTIPLA_ESCOLHA'}">
                                    <option th:each="opcao : ${pergunta.tipoPergunta.opcoes}" th:value="${opcao.id}" th:text="${opcao.descricao}"></option>
                                </select>

                                <select class="form-select" th:if="${pergunta.tipoPergunta.estiloTpPergunta == 'ESCALA'}">
                                    <option th:each="escala : ${pergunta.escalas}" th:value="${escala.id}" th:text="${escala}"></option>
                                </select>

                                <input type="text" class="form-control" th:if="${pergunta.tipoPergunta.estiloTpPergunta  == 'TEXT'}">
                            </td>
                        </tr>
                    </th:block>

                    <tr>
                        <td>Comentário do Professor</td>
                        <td><textarea class="form-control"></textarea></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="/scripts/avaliacao.js"></script>
<!--    <script>-->
<!--        $(document).ready(function () {-->
<!--            $('#alunoSelect').select2({-->
<!--                placeholder: "Escolha um aluno...",-->
<!--                allowClear: true-->
<!--            });-->

<!--            $('#alunoSelect').on('change', function () {-->
<!--                $('#avaliacoesContainer').toggle(!!$(this).val());-->
<!--            });-->
<!--        });-->
<!--    </script>-->

</body>

</html>
