<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Cadastros</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/listagem.css" rel="stylesheet">
</head>
<body>

<div id="loadingScreen">
    <p>Carregando<span class="dot">.</span><span class="dot">.</span><span class="dot">.</span></p>
    <div class="loader-wrapper">
        <div class="loader">
            <div class="loader-inner"></div>
        </div>
    </div>
</div>
<div id="content" style="display: none;">
</div>

<div class="listagem-container animate__animated animate__fadeInUp">
    <div class="d-flex justify-content-start mb-3 header-buttons">
        <img src="/images/sair.png" alt="Sair" id="sairButton" data-bs-toggle="tooltip" title="Sair Da Tela de Cadastro">
        <a th:href="@{/subgrupo/cadastrar}" data-bs-toggle="tooltip" title="Adicionar Novo Cadastro">
            <img src="/images/adicionar.png" alt="Adicionar" id="addButton">
        </a>
        <img src="/images/editar-arquivo.png" alt="Editar" id="editButton" data-bs-toggle="tooltip" title="Editar Cadastro Selecionado">
        <img src="/images/excluir.png" alt="Excluir" id="deleteButton" data-bs-toggle="tooltip" title="Excluir Cadastro Selecionado">
    </div>

    <div class="table-responsive">
        <table class="table table-hover custom-table">
            <thead class="table-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Descrição</th>
                </tr>
                <tr>
                    <th><input type="text" class="form-control filter-input" placeholder="Filtrar ID" onkeyup="filterTable(0)"></th>
                    <th><input type="text" class="form-control filter-input" placeholder="Filtrar Nome" onkeyup="filterTable(1)"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="subgrupo : ${subGrupos}">
                    <td th:text="${subgrupo.id}"></td>
                    <td th:text="${subgrupo.descricao}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/scripts/listagens/listagemSubGrupo.js"></script>
</body>
</html>
