body {
    background-color: #f5f7fa;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.btn-custom-roxo {
    background-color: #A07BE5;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-custom-roxo:hover {
    background-color: #8A5DC4;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


.custom-switch:checked {
    background-color: #b3d1ff;
}

.custom-switch:checked::before {
    transform: translateX(30px);
}

.form-check-label {
    margin-left: 10px;
    vertical-align: middle;
    font-size: 16px;
    color: #A07BE5;
    font-weight: bold;
}


.form-container {
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}
.header-buttons img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
}
.form-section-heading {
    background-color: #A07BE5;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
    font-size: 18px;
}
.form-label {
    font-weight: bold;
    color: #444;
}
.form-control {
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 10px;
    transition: all 0.3s ease;
}
.form-control:focus {
    border-color: #ff9900;
    box-shadow: 0px 0px 8px rgba(255, 153, 0, 0.5);
}
.is-valid {
    border-color: green;
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
}
.is-invalid {
    border-color: red;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}
.error-message {
    color: red;
    font-size: 12px;
    display: none;
}
.switch-container {
    display: flex;
    align-items: center;
}
.switch-label {
    margin-left: 10px;
    font-weight: bold;
    color: #444;
}
.animated-input {
    position: relative;
}
.animated-input input {
    width: 100%;
}
.icon-calendar {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    color: #007bff;
}
.progress-bar {
    height: 25px;
    width: 0;
    background-color: #007bff;
    transition: width 1s;
    border-radius: 5px;
}
#progress-container {
    display: none;
    margin-top: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    height: 25px;
}
#success-message {
    display: none;
    color: green;
    font-size: 14px;
}

.button-escala {
    background-color: #A07BE5;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-top: 5px;
}

.button-escala:hover {
    background-color: #8A5DC4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-remover {
    background-color: #A07BE5;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-left: 10px;
}

.button-remover:hover {
    background-color: #8A5DC4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.d-flex {
    display: flex;
}

.option-label {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    margin-right: 8px;
}

#loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#loadingScreen p {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: bold;
}

.dot {
    animation: bounce 1s infinite;
    display: inline-block;
    font-weight: bold;
    font-size: 1.5rem;
    color: #ffffff;
}

.dot:nth-child(1) {
    animation-delay: 0s;
}
.dot:nth-child(2) {
    animation-delay: 0.2s;
}
.dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.loader-wrapper {
    width: 100px;
    height: 100px;
}

.loader {
    width: 100%;
    height: 100%;
    border: 4px solid #b3d1ff;
    border-top-color: #007bff;
    border-bottom-color: #8A5DC4;
    border-radius: 50%;
    animation: rotate 2.5s linear infinite;
    position: relative;
}

.loader-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top-color: #8A5DC4;
    border-bottom-color: #007bff;
    animation: rotate 1.25s linear infinite;
}

@keyframes rotate {
    0% { transform: scale(1) rotate(0deg); }
    50% { transform: scale(0.8) rotate(180deg); }
    100% { transform: scale(1) rotate(360deg); }
}






