*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter;
}
body{
  background-color: #E5FFFC;
}

#sectionCabecalho{
  width: 100vw;
  height: 10vh;
}

#spanEmpresa{
  display: flex;
  align-items: center;
  font-weight: bold;
}

#divEmpresa{
  color: #A07BE5;
  text-align: center;
  margin-right: 25vw;
  padding-left: 3vw;
}

.itemMenu{
  margin-left: 3vw;
  margin-right: 3vw;
}

#imgHome{
  width: 3vw;
  height: 5vh;
  border-radius: 50%;
  margin-left: -2vw;
}

  #sectionPerfil{
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }

  #divCadastro{
    background-color: #B7FFF6;
    width: 80vw;
    height: 65vh;
    padding: 3vh 3vw 3vh 3vw ;
    border-radius: 20px;
    box-shadow: 10px 10px 8px rgb(0,0,0,0.2);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto) auto auto ;
    gap: 10px;
  }

  #imgPerfil{
    width: 15vw;
    height: auto;
    border-radius: 50%;
    grid-row: 1/4;
    grid-column: 1;
    align-self: center;
    justify-self: center;
  }

  #divPrimeira,#divSegunda, #divTerceira, #divQuarta, #divQuinta{
    display: flex;
    gap: 10px;
  }

  #divPrimeira{
    grid-column: 2;
    grid-row: 1;
  }
  #divSegunda{
    grid-column: 2;
    grid-row: 2;
  }
  #divTerceira{
    grid-column: 2;
    grid-row: 3;
  }
  #divQuarta{
    grid-column: 2;
    grid-row: 4;
  }
  #divQuinta{
    grid-column: 2;
    grid-row: 5;
  }

  input{
    width: 100%;
    height: 5vh;
    padding: 10px;
    box-sizing: border-box;
    color: #5B95EB;
    border-color: #5B95EB;
    background-color: #E5FFFC;
    border-radius: 3px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    align-items: center;
    font-size: 100%;
  }

  input::placeholder{
    color: #5B95EB;
    opacity: 50%;
    padding-left: 5px;
  }

  input:focus{
    outline: none;
  }
