<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Perguntas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/cadastro.css" rel="stylesheet">
</head>
<body>

<div class="form-container animate__animated animate__fadeInUp">

    <div class="d-flex justify-content-start mb-3 header-buttons">
        <a th:href="@{/pergunta}" data-bs-toggle="tooltip" title="Sair">
            <img src="/images/sair.png" alt="Sair" id="sairButton">
        </a>
        <img src="/images/salvar.png" alt="Salvar" id="saveButton" data-bs-toggle="tooltip" title="Salvar">
        <img src="/images/excluir.png" alt="Excluir" id="excluirButton" data-bs-toggle="tooltip" title="Excluir">
        <button class="btn btn-secondary ms-auto" id="clearButton" data-bs-toggle="tooltip" title="Limpar todos os campos">Limpar</button>
    </div>

    <div class="form-section-heading">Cadastro Perguntas</div>
    <form th:action="@{/pergunta}" th:object="${pergunta}" method="post" id="perguntasForm">
        <div class="row">
            <div class="col-md-2">
                <label for="id" class="form-label">ID</label>
                <input type="text" class="form-control" id="id" aria-label="ID da Pergunta" disabled>
            </div>

            <div class="col-md-6">
                <label for="descricao-pergunta" class="form-label">Descrição da Pergunta</label>
                <input th:field="*{descricao}" type="text" class="form-control" id="descricao-pergunta" placeholder="Digite a descrição da pergunta">
                <span class="error-message" id="descricao-pergunta-error" style="display: none; color: red;">Descrição é obrigatória.</span>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-4">
                <label for="tipo-pergunta" class="form-label">Tipo da Pergunta</label>
                <div class="input-group">
                    <select th:field="*{tipoPergunta}" class="form-select" id="tipo-pergunta">
                        <option value="" selected>Selecione</option>
                        <option th:each="tipoPergunta : ${tipoPerguntas}" th:value="${tipoPergunta.id}" th:text="${tipoPergunta.descricao}"></option>
                    </select>
                </div>
                <span class="error-message" id="tipo-pergunta-error" style="display: none; color: red;">Selecione um tipo de pergunta.</span>
            </div>
            <div class="col-md-4">
                <label for="sub-grupos" class="form-label">Sub Grupos</label>
                <select th:field="*{subGrupo}" class="form-select" id="sub-grupos" multiple>
                    <option value="" selected>Selecione</option>
                    <option th:each="subGrupo : ${subGrupos}" th:value="${subGrupo.id}" th:text="${subGrupo.descricao}"></option>
                </select>
                <span class="error-message" id="sub-grupos-error" style="display: none; color: red;">Selecione um subgrupo.</span>
            </div>
        </div>

        <!-- Nova Listagem de Escalas com Checkboxes -->
<!--        <div class="row mt-3">-->
<!--            <div class="col-md-12">-->
<!--                <label class="form-label">Escalas</label>-->
<!--                <div id="lista-escalas">-->>
<!--                    &lt;!&ndash; Exemplo de listagem com escalas &ndash;&gt;-->
<!--                    &lt;!&ndash; Será preenchido dinamicamente com JavaScript &ndash;&gt;-->
<!--                </div>-->
<!--                <span class="error-message" id="escala-error" style="display: none; color: red;">Selecione ao menos uma escala.</span>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row mt-3">-->
<!--            <div class="col-md-12">-->
<!--                <label class="form-label">Escalas</label>-->
<!--                <table>-->
<!--                    <tbody>-->
<!--                    <tr th:each="escala : ${escalas}">-->
<!--                        <td th:text="${escala.id}"></td>-->
<!--                        <td th:text="${escala.escalaMin}"></td>-->
<!--                        <td th:text="${escala.escalaMax}"></td>-->
<!--                        <td th:text="${escala.status}."></td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                </table>-->

<!--            <div class="row mt-3">-->
<!--                <div class="col-md-12">-->
<!--                    <label class="form-label">Escalas</label>-->
<!--                    <div id="lista-escalas">-->
<!--                        <div class="form-check" th:each="escala : *{escalas}">-->

<!--                            <label class="form-check-label" for="escala-[[${escala.id}]]">-->
<!--                                Escala Min: <span th:text="*{escala.escalaMin}"></span>, Escala Max: <span th:text="*{escala.escalaMax}"></span>,-->
<!--                                Status: <span th:text="*{escala.status}"></span>-->
<!--                            </label>-->
<!--                            <input class="form-check-input escala-checkbox" type="checkbox" id="escala-[[${escala.id}]]" value="[[${escala.id}]]">-->
<!--                            <input>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <span class="error-message" id="escala-error" style="display: none; color: red;">Selecione ao menos uma escala.</span>-->
<!--                </div>-->
<!--            </div>-->
        <div id="escalaContainer">
            <div th:each="escala, stat : *{escalas}">
                <input type="number" th:field="*{escala[__${stat.index}__].escalaMin}">
                <input type="number" th:field="*{escala[__${stat.index}__].escalaMax}">
                <select th:field="*{escala[__${stat.index}__].status}">
                    <option value="" selected>Selecione</option>
                    <option value="minima">Minima</option>
                    <option value="media">Média</option>
                    <option value="maxima">Máxima</option>
                </select>
                <button type="button" onclick="removeEscala(this)"></button>
            </div>
            <button type="button" id="adicionarEscala">Adicionar Escala</button>
        </div>


<!--        <div class="row mt-3">-->
<!--            <div class="col-md-2 mt-3">-->
<!--                <button type="button" class="btn btn-custom-roxo btn-sm" id="addEscala">Adicionar Escala</button>-->
<!--            </div>-->
<!--        </div>-->

        <!-- Modal para adicionar escala -->
<!--            <div class="modal fade" id="addOptionModal" tabindex="-1" aria-labelledby="addOptionModalLabel" aria-hidden="true">-->
<!--                <div class="modal-dialog">-->
<!--                    <div class="modal-content">-->
<!--                        <div class="modal-header">-->
<!--                            <h5 class="modal-title" id="addOptionModalLabel">Adicionar Nova Escala</h5>-->
<!--                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                        </div>-->
<!--                        <div class="modal-body">-->
<!--    &lt;!&ndash;                        <div class="mb-3">&ndash;&gt;-->
<!--    &lt;!&ndash;                            <label for="newOptionDescription" class="form-label">Descrição da Escala</label>&ndash;&gt;-->
<!--    &lt;!&ndash;                            <input type="text" id="newOptionDescription" class="form-control" placeholder="Digite a descrição da escala">&ndash;&gt;-->
<!--    &lt;!&ndash;                            <span class="error-message" id="newOptionDescription-error" style="display: none; color: red;">A descrição da escala é obrigatória.</span>&ndash;&gt;-->
<!--    &lt;!&ndash;                        </div>&ndash;&gt;-->
<!--                            <div class="mb-3">-->
<!--                                <label for="newOptionMin" class="form-label">Escala Mínima</label>-->
<!--                                <input type="number" id="newOptionMin" class="form-control" placeholder="Digite a escala mínima">-->
<!--                            </div>-->
<!--                            <div class="mb-3">-->
<!--                                <label for="newOptionMax" class="form-label">Escala Máxima</label>-->
<!--                                <input type="number" id="newOptionMax" class="form-control" placeholder="Digite a escala máxima">-->
<!--                            </div>-->
<!--                            <label for="limite-bom" class="form-label">Limite Bom</label>-->
<!--                            <select class="form-select" id="limite-bom">-->
<!--                                <option selected>Selecione</option>-->
<!--                                <option value="Mínimo">Escala Mínima</option>-->
<!--                                <option value="Máximo">Escala Mediana</option>-->
<!--                                <option value="Máximo">Escala Máxima</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                        <div class="modal-footer">-->
<!--                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>-->
<!--                            <button type="button" class="btn btn-primary" id="confirmAddOption">Adicionar</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

        <!-- Limite de Resposta Section (Visível apenas se o tipo for "Escala") -->
<!--        <div id="limiteRespostasSection" class="mt-4" style="display: none;">-->
<!--            <div class="row">-->
<!--                <div class="col-md-4">-->
<!--                    <label for="limite-maximo" class="form-label">Limite Máximo da Resposta</label>-->
<!--                    <input type="number" class="form-control" id="limite-maximo" placeholder="Digite o limite máximo">-->
<!--                    <span class="error-message" id="limite-maximo-error" style="display: none; color: red;">Por favor, insira um número válido.</span>-->
<!--                    <div class="form-check mt-2">-->
<!--                        <input class="form-check-input" type="checkbox" id="limite-maximo-bom">-->
<!--                        <label class="form-check-label" for="limite-maximo-bom">Limite Bom</label>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-4">-->
<!--                    <label for="limite-minimo" class="form-label">Limite Mínimo da Resposta</label>-->
<!--                    <input type="number" class="form-control" id="limite-minimo" placeholder="Digite o limite mínimo">-->
<!--                    <span class="error-message" id="limite-minimo-error" style="display: none; color: red;">Por favor, insira um número válido.</span>-->
<!--                    <div class="form-check mt-2">-->
<!--                        <input class="form-check-input" type="checkbox" id="limite-minimo-bom">-->
<!--                        <label class="form-check-label" for="limite-minimo-bom">Limite Bom</label>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        <!-- Switch personalizado estilo slide round -->
        <div class="form-check form-switch mb-4 mt-3">
            <div class="row">
                <div class="col-md-2">
                    <label class="form-check-label" for="ativo">Ativo</label>
                    <input type="checkbox" id="ativo" class="form-check-input custom-switch" checked>
                </div>
            </div>
        </div>

        <div id="progress-container">
            <div class="progress-bar" id="progress-bar"></div>
        </div>
        <div id="success-message">Formulário enviado com sucesso!</div>
    </form>
</div>

<!-- Modal de Confirmação para Salvar, Excluir e Sair -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Confirmação</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Você confirma a ação?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                <button type="button" class="btn btn-primary" id="confirmYes">Sim</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/scripts/cadastroPerguntas.js"></script>
<script>
function removeEscala(button){
    const div =button.parentNode;
    div.remove();
}
</script>
</body>
</html>
